<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
              <verbs allowUnlisted="false">
                <clear/>
                <add verb="GET" allowed="true"/>
              </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
