@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushPowerShell.min.js" charset="utf-8"></script>
	<script>
		$(document).ready(function() {
			$(".toggle_container").hide();
			var previousId;
		    if(location.hash) {
		        var id = location.hash.slice(1);    //Get rid of the # mark
		        var elementToShow = $("#" + id);    //Save local reference
		        if(elementToShow.length) {                   //Check if the element exists
		            elementToShow.slideToggle('fast');       //Show the element
		            elementToShow.addClass("check_list_selected");    //Add class to element (the link)
		        }
		        previousId = id;
		    }

			$('.nav-menu a, .psLink a').click(function() {
                $(".sidebar-navbar-collapse").collapse('hide');
				$('.toggle_container').hide();                 // Hide all
				var elem = $(this).prop("hash");
				$(elem).toggle('fast');   						// Show HREF/to/ID one
				history.pushState({}, '', $(this).attr("href"));
				window.scrollTo(0, 0);
				return false;
			});
			SyntaxHighlighter.defaults['toolbar'] = false;
			SyntaxHighlighter.defaults['gutter'] = false;
			SyntaxHighlighter.all();
			
			$('#searchList').btsListFilter('#searchinput', {itemChild: 'a', initial: false, resetOnBlur: true});
            
            $(document).keyup(function( e ) {
                if(!$('#searchinput').is(':focus') && e.which >= 65 && e.which <= 90 ){
                   $('#searchinput').val(String.fromCharCode(e.keyCode));
                   $('#searchinput').focus();
                }
            });
            $(document).click(function() {
                $('#searchinput').blur();
            });
		});
	</script>
    <!-- bootstrap-list-filter.min.js - removed as external resource and added as content -->
    <script>
    /* 
     * bootstrap-list-filter v0.1.7 - 2015-03-30 
     * 
     * Copyright 2015 Stefano Cudini 
     * stefano.cudini@gmail.com 
     * http://labs.easyblog.it/ 
     * 
     * Licensed under the MIT license. 
     * 
     * Demos: 
     * http://labs.easyblog.it/bootstrap-list-filter/ 
     * 
     * Source: 
     * git@github.com:stefanocudini/bootstrap-list-filter.git 
     * 
     */
    !function(a){a.fn.btsListFilter=function(b,c){function d(a,b){return a.replace(/\{ *([\w_]+) *\}/g,function(a,c){return b[c]||""})}function e(a,b){var c;return b=b||300,function(){var d=this,e=arguments;clearTimeout(c),c=setTimeout(function(){a.apply(d,Array.prototype.slice.call(e))},b)}}var f,g=this,h=a(this),i=a(b),j=h;return c=a.extend({delay:300,minLength:1,initial:!0,eventKey:"keyup",resetOnBlur:!0,sourceData:null,sourceTmpl:'<a class="list-group-item" href="#"><span>{title}</span></a>',sourceNode:function(a){return d(c.sourceTmpl,a)},emptyNode:function(){return'<a class="list-group-item well" href="#"><span>No Results</span></a>'},itemEl:".list-group-item",itemChild:null,itemFilter:function(b,d){d=d&&d.replace(new RegExp("[({[^.$*+?\\]})]","g"),"");var e=a(b).text(),f=c.initial?"^":"",g=new RegExp(f+d,"i");return g.test(e)}},c),i.on(c.eventKey,e(function(){var b=a(this).val();c.itemEl&&(j=h.find(c.itemEl)),c.itemChild&&(j=j.find(c.itemChild));var d=j.filter(function(){return c.itemFilter.call(g,this,b)}),e=j.not(d);c.itemChild&&(d=d.parents(c.itemEl),e=e.parents(c.itemEl).hide()),""!==b&&b.length>=c.minLength?(d.show(),e.hide(),"function"===a.type(c.sourceData)?(d.hide(),e.hide(),f&&(a.isFunction(f.abort)?f.abort():a.isFunction(f.stop)&&f.stop()),f=c.sourceData.call(g,b,function(b){if(f=null,d.hide(),e.hide(),h.find(".bts-dynamic-item").remove(),b&&0!==b.length)for(var i in b)a(c.sourceNode.call(g,b[i])).addClass("bts-dynamic-item").appendTo(h);else a(c.emptyNode.call(g)).addClass("bts-dynamic-item").appendTo(h)})):0===d.length&&a(c.emptyNode.call(g)).addClass("bts-dynamic-item").appendTo(h)):(d.show(),e.show(),h.find(".bts-dynamic-item").remove())},c.delay)),c.resetOnBlur&&i.on("blur",function(){a(this).val("").trigger(c.eventKey)}),h}}(jQuery);
</script>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" rel="stylesheet" charset="utf-8">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" rel="stylesheet" charset="utf-8">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" charset="utf-8">
				
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
		  .syntaxhighlighter {
		      overflow-y: hidden !important;
		      overflow-x: auto !important;
		  }
		  pre {
		      min-height: 30px;
		  }
		  .navbar-nav {
		      height: 100%;
		      overflow-y: auto;
		  }
		  .form-group {
		      padding-top: 12px;
		      padding-left: 12px;
		      padding-right: 12px;
		  }
		  .sidebar-nav .navbar-header {
		      float: none;
		  }
	      .sidebar-nav .navbar li a {
	          padding-top: 4px;
	          padding-bottom: 4px;
	      }
		  .sidebar-nav .navbar ul {
		          float: none;
		      }
		      .sidebar-nav .navbar ul:not {
		          display: block;
		      }
		      .sidebar-nav .navbar li {
		          float: none;
		          display: block;
		      }
		  }
		</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <br />
                    <p>
                        Create and customize your Strategy Quant Workflows
                    </p>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Automate the repetitive tasks
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <br />
    <br />

    
<h2 id="features">Features</h2>
<p>With TD-MFG-Workflow Modules you can</p>
<ul>
<li>Create consistent Strategy Quant Worklows</li>
<li>Customize Strategy Quant Worklow to mine different timeframes, symbols, correlated markets, sessions, planned capital &amp; drawdown adjustments etc.</li>
<li>Thin wrapper on Strategy Quant CLI to perform tasks like importing your Trade Station Symbols and data</li>
</ul>
<h2 id="installation">Installation</h2>
<p>Step 1) Download Latest Setup.MininingForGold.msi</p>
<pre><code class="lang-sh"><span class="hljs-attribute"><a href ="~/Explorer">Download</a></span>
</code></pre>
<p>Step 2) Right click Setup.MininingForGold.msi -&gt; Properties -&gt; Unblock the msi file</p>
<p>Step 3) Install with the serial number provided on Trading Dominion <a href="https://forums.tradingdominion.com/threads/create-and-customize-strategy-quant-workflow.1019/">forum</a></p>
<p>Step 4) Open a new Powershell ISE window as Administrator and run this command</p>
<pre><code class="lang-sh"><span class="hljs-attribute"> mine -Upgrade</span>
</code></pre>
<p>Step 5) Setup your Trade Station Directory</p>
<pre><code class="lang-sh"><span class="hljs-keyword">Set</span>-MFG-Configuration <span class="hljs-comment">-TradeStationDataPath</span> <span class="hljs-comment">"[Update this path where you keep Trade Station CSV files]"</span>
</code></pre>
<p>Step 6) Optionally you might want to run this command if powershell execution is blocked on your machine. Run this as Admin in Powershell ISE</p>
<pre><code class="lang-sh"><span class="hljs-keyword">Set</span>-ExecutionPolicy <span class="hljs-comment">-ExecutionPolicy Unrestricted</span>
</code></pre>
<h2 id="future-upgrades">Future Upgrades</h2>
<pre><code class="lang-sh"><span class="hljs-attribute">mine</span> -Upgrade <span class="hljs-comment">#To manually update when you want</span>
</code></pre>
<pre><code class="lang-sh">Daily-<span class="hljs-keyword">Update</span> #This <span class="hljs-keyword">sets</span> up a windows scheduled task <span class="hljs-keyword">on</span> your machine <span class="hljs-keyword">to</span> download latest powershell modules daily
</code></pre>
<h2 id="verify-installation">Verify Installation</h2>
<p>On a windows machine type Powershell ISE in Search, it will display &quot;Windows Powershell ISE&quot; - right click to &quot;Run as Administrator&quot;</p>
<p>Now, any time you want to create a new MFG/SQ workflow for a stock/instrument, simply open &quot;Windows Powershell ISE&quot; as Administrator and run following command </p>
<pre><code class="lang-sh"><span class="hljs-attribute">TD-MFG-InitializeWorkflow</span>
</code></pre>


</div>
